/** DISABLE TEXT SELECTION (SET ON BODY WHEN DRAGGING IS OCCURRING) **/
._jsPlumb_drag_select * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none
}

body {
    padding:0;
    margin:0;    
    font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;    
    background-color:#eaedef;
   
}

#main {
  margin-top:85px;  
  font-size: 80%;    
  width:75%;
  margin-left:auto;
  margin-right: auto;  
  height:600px;
  text-align: center;
  position: relative;
  max-width:852px;
}

.demo {
  position: relative;
  width:100%;
  background-color:white;    
  height:563px;
  overflow:auto;  
  margin-top:35px;
  margin-bottom:25px;
}


/* demo elements */
.selected {
	color:orange !important;
}

path, ._jsPlumb_endpoint { cursor:pointer; }


/** Z-INDEX **/

._jsPlumb_connector { z-index:18; }
._jsPlumb_endpoint { z-index:19; }
._jsPlumb_overlay { z-index:20; }
/*
._jsPlumb_connector._jsPlumb_hover {
    z-index:21 !important;
}
._jsPlumb_endpoint._jsPlumb_hover {
    z-index:22 !important;
}
._jsPlumb_overlay._jsPlumb_hover {
    z-index:23 !important;
}
*/




